.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: var(--bg-color-dark);
  box-shadow: var(--card-shadow);
  width: 100%;
  max-width: 32rem;
  padding: 1rem;
  gap: 1rem;
  position: relative;
}

.card h2 {
  margin: 0.5rem 0 0 0;
}
